<footer>
        <p>
        &copy; Copyright 2014 All Rights Reserved. This website was built with 
        <a href="#">Protocol GROUP</a> 
        <a href="#">RSS</a> 
        <a href="#">Meng hao</a>
        </p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
